{{!--

<body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2 style="text-align: center; font-size: 30px; font-weight: bold; margin-bottom: 20px;">¡Conoce LabGuides+!</h2>

      <p style="text-align: justify; font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
        ¡Bienvenidos a LabGuides+! La plataforma de referencia para los estudiantes de ingeniería electrónica en UniSucre.
        En LabGuides+, entendemos que el aprendizaje práctico en el laboratorio es esencial para el desarrollo de habilidades técnicas y el entendimiento profundo de los conceptos teóricos. 
        Por eso, hemos creado esta página web con el objetivo de brindar a los estudiantes de UniSucre una herramienta completa y accesible que los acompañe en su experiencia de laboratorio.
      </p>

      <p style="text-align: justify; font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
        En LabGuides+, creemos en la importancia de la colaboración y el intercambio de conocimientos. 
        Por eso, hemos creado una comunidad en línea donde los estudiantes pueden interactuar entre sí, compartir ideas y resolver dudas. 
        Además, nuestros expertos están disponibles para brindar apoyo y orientación a través de foros de discusión y sesiones de preguntas y respuestas.
      </p>

      <p style="text-align: justify; font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
        ¡Únete a LabGuides+ hoy y lleva tu experiencia de laboratorio al siguiente nivel! 
        Estamos emocionados de acompañarte en tu camino hacia la excelencia en la ingeniería electrónica en UniSucre.
      </p>

</div>
<!-- ./wrapper -->