{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">MyLabs <small>+</small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">¿Qué es?</h5>

                <p class="card-text">
                  <ul>
                    <li>LabGuides+ es una plataforma innovadora que te brinda acceso a las guías de laboratorio actualizadas y completas. Navega por nuestra colección de recursos científicos, desde experimentos básicos hasta proyectos avanzados. Aprovecha la comodidad de tener todo en un solo lugar y descubre nuevas formas de aprender y mejorar tus habilidades de laboratorio. Únete a LabGuides+ y lleva tus experiencias de laboratorio al siguiente nivel.</li>
                  </ul>
                </p>

                <a href="/about" class="card-link">Más info</a>

              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">Foro LabLovers</h5>
              </div>
              <div class="card-body forum-container">
                <h6 class="card-title">BE A LABLOVER+</h6>

                <p class="card-text">¡Únete al Foro LabLovers y descubre un espacio donde compartir tu pasión por la ciencia y la investigación! ¡Conéctate con otros entusiastas y expande tus conocimientos en un ambiente colaborativo!</p>
                <a href="/users/signin" class="btn btn-primary">Quiero unirme</a>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

