  
 <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/" class="nav-link">My Labs</a>
    </li>      
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/about" class="nav-link">About</a>
    </li>
  </ul>

  <!-- Sidebar toggle button -->
  <button class="navbar-toggler" type="button" data-toggle="pushmenu" data-target="body" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- add logo to the navbar -->
  <a class="navbar-brand ml-auto" href="#">
    <img src="/img/logo.png" alt="Logo" class="logo">
  </a>
</nav>
<!-- /.navbar -->

